<a href="https://colab.research.google.com/github/Julianh1206/-Introduction-to-Data-Science-in-Python/blob/main/Introduction_to_Data_Science_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Introduction to Data Science in Python (Coursera)**

# Semana 1:

## Introducción al curso:

### Python Functions:

In [ ]:
# La idea es que el tercer valor sea opcional, si ese tercer valor (kind) es 'add', entonces realizar la suma. En caso 
# contrario se debera restar el segundo del primero (a-b)

## Base:
"""
def do_math(?, ?, ?):
  if (kind=='add'):
    return a+b
  else:
    return a-b

do_math(1, 2) """

def do_math(a, b, kind = None):
  if (kind=='add'):
    return a+b
  else:
    return a-b

## Pruebas
do_math(1,2)
do_math(1,2, 'add')

# Nota: cuando ponemos ese '= None', lo que realiza es dejar la variable abierta. Es decir, se pueden
# ingresar los dos parámetros y lo va a ejecutar pero si se ingresa el tercero, va a operar con respecto
# a las condiciones que se pusieron en la función.

3

### Python Types and Sequences:

In [ ]:
""" La ausencia de tipificación en Python NO significa que no hay tipos. Está la función type()
para identificar el tipo de variable de interés. En este caso vamos a tratar sobre las tuplas, listas
y diccionarios. 
Las tuplas se crean con () y son inmutables (No se pueden modificar), ejm:
x = (1, 'a', 2, 'rt') -> tupla
Las listas las definimos con [] y éstas sí son mutables e iterables, modificables. Ejm:
x = [1, 'a', 2, 'rt'] -> lista, para rebanar la lista usamos -> x[0:n+1] y la lista devuelve hasta n.
En caso de no ponerle el cero, es decir, de escribir x[:3], Python por defecto saber que es desde 0, 
lo mismo en caso contrario, si se pone x[3:], va desde el x[3] hasta el último elemento de la lista.
Ejm: """

## What would be an appropriate slice to get the name "Christopher" from the string "Dr. Christopher Brooks"?
x = 'Dr. Christopher Brooks'
print(x[4:15])

Christopher

In [ ]:
# Luego, para definir las categorias en una tupla podemos hacerlo de la siguiente manera:
tupla1 = ("Julián Saavedra Echavarría", 22, "Medellín", "jsaavedrae@unal.edu.co")
nombre, edad, ciudad, correo = tupla1
print(nombre) # Prueba

Julián Saavedra Echavarría

In [ ]:
## Otro ejm:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]  # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]  # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

In [ ]:
""" Los diccionarios los definimos con {} y se tratan de colecciones de elementos que NO tienen
orden, quiere decir que por cada valor que insertas en el diccionario se debe indicar cuál es 
la clave de acceso a ese elemento. Para aclarar más ese tema, tenemos un ejm: """

x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']  # Retrieve a value by using the indexing operator

# Lo que nos indica este ejm es que la clave está separada por :, luego al ingresar x['Christopher Brooks']
# (clave), el valor resultante debe ser 'brooksch@umich.edu' (elemento). Siempre vamos a usar :.

'brooksch@umich.edu'

### Python More on Strings:

In [ ]:
""" En este ejemplo vemos que mediante la función .format() podemos editar el diccionario
 inicial 'sales_record' e ingresarlo a un diccionario nuevo 'sales_statement' el cual 
 está siendo modificado e ingresado a nuevos diccionarios con el fin de imprimir 
 {julano} compró {tanto} artículo(s) a un precio de {xxx} cada uno por un total de {xxx}"""

sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

""" Otra cosa de Python con respecto a los str es que se puede hacer operaciones pero 
entre str, no podemos hacer str(Julián) + 2, NO, se debe hacer str(Julián) + str(2)"""

### Python Demonstration: Reading and Writing CSV files:

In [ ]:
# Lo primero que hacemos es importar csv para leer nuestro archivo .csv:
import csv

""" Configuramos en 2 la precisión para la impresión del punto flotante, es decir, todo
 con 2 decimales de aproximación."""
%precision 2 


## Vamos a trabajar con la siguiente base de datos:

""" Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

mpg : miles per gallon
class : car classification
cty : city mpg
cyl : # of cylinders
displ : engine displacement in liters
drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
hwy : highway mpg
manufacturer : automobile manufacturer
model : model of car
trans : type of transmission
year : model year"""

with open ('mpg.csv') as csvfile: # ó with open ('/content/mpg.csv') as csvfile:
  mpg = list(csv.DictReader(csvfile)) # vamos a leer la base como una lista de diccionarios

mpg[:3] # Véamos los primeros tres elementos (diccionarios) de nuestra lista.

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [ ]:
# Miremos la cantidad de elementos en la lista:
len(mpg)

## Es decir, tenemos 234 diccionarios, cada uno con la información de un vehículo

234

In [ ]:
# Para ver las variables que tenemos, lo hacemos con lo siguiente:
mpg[0].keys() 
## Para mpg[i], i puede ser cualquier número desde 0 hasta (n=234)-1, la importancia 
## es ver cuáles son los nombres de las variables

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [ ]:
# Para realizar por ejm un promedio en la cantidad de miles de galores en todas las ciudades:
sum(float(d["cty"]) for d in mpg) / len(mpg)

16.86

In [ ]:
# Usamose set() para devolver los valores únicos para la cantidad de cilindros que tienen los autos en nuestro conjunto de datos.
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [ ]:
"""Aquí hay un ejemplo más complejo en el que estamos agrupando los autos por número 
de cilindros y encontrando el promedio de mpg en la ciudad para cada grupo: """
CtyMpgByCyl = []

for c in cylinders:  # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg:  # iterate over all dictionaries
        if d['cyl'] == c:  # if the cylinder level type matches,
            summpg += float(d['cty'])  # add the cty mpg
            cyltypecount += 1  # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount))  # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0]) ## Ordenando por la cantidad de cilindros
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [ ]:
# Ahora hagamos lo mismo pero con la clase de vehículo:
vehicleclass = set(d['class'] for d in mpg)  # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [ ]:
HwyMpgByClass = []

for t in vehicleclass:  # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg:  # iterate over all dictionaries
        if d['class'] == t:  # if the cylinder amount type matches,
            summpg += float(d['hwy'])  # add the hwy mpg
            vclasscount += 1  # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount))  # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1]) ## Aquí estamos ordenando por promedio (menor a mayor)
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

### Advanced Python Objects, map():

In [ ]:
""" Podemos definir clases: """
class Person:
    department = 'School of Information'  # Una variables clase, en este caso es fija

    def set_name(self, new_name):  # Dentro de la clase debemos usar funciones con "self" para poder 
                                   # ingresar, con el mismo self se llama a la función del objeto
        self.name = new_name

    def set_location(self, new_location):
        self.location = new_location

"""Forma de uso: """
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

In [ ]:
# Función map()
""" Con la función map(): 
es una de las bases de la programación funcional en Python. Python no es un lenguaje funcional 
duro pero la programación funcional es muy necesaria para el análisis de datos, en especial la
limpieza. La programación funcional nos ayuda a pensar más detenidamente en el proceso
que vamos a realizar. 
Así, la función map() es un ejemplos de una función de programación funcional:
map(function, iterable,...). Esta es una función iterable al igual que las listas
y tuplas, por lo que podemos usar de manera adecuada para ver todos los valores del mapa
Vamos a un ejm: """

# Queremos ver en dos tiendas, cuál artículo es más barato comparando artículo por artículo
# (las dos tiendas ofrecen lo mismo a precios diferentes)
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest 
# Ahora iteremos a través del objeto de mapa para ver los valores.
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

In [ ]:
# Ejercicio del vídeo:
"""Here is a list of faculty teaching this MOOC. Can you write a function and 
apply it using map() to get a list of all faculty titles and last names 
(e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', …]) ?"""

people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

"""Prueba: 
for person in people:
  print(person.split()[0], person.split()[2]) 
La fun split() separa los str por espacio, no es necesario especificar parámetros."""

# Sln 1:
def split_title_and_name(person): 
  return (f'Dr. {person.split()[2]}')

list(map(split_title_and_name, people))

# Sln 2:
def split_title_and_name(person): 
  return person.split()[0] + ' ' + person.split()[2]

list(map(split_title_and_name, people))

# Sln 3: (Definitiva)
def split_title_and_name(person): 
  titulo = person.split()[0]
  apellido = person.split()[2]
  return '{} {}'.format(titulo, apellido)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vinod', 'Dr. Romero']

### Advanced Python Lambda and List Comprehensions:

In [ ]:
# Sobre lambda: 
""" Es la manera que tiene Python para crear funciones anónimas, la intención
es que sean simples, de corta duración y fácil de escribir en una sola línea. 
En cuestión de sintaxis, veamos: """
# Aquí un ejm de una función lambda que toma tres parámetros y suma dos de ellos:
mi_funcion = lambda a, b, c : a+b 
mi_funcion(3,4,6) ## Nota, siempre se debe ingresar todos los parámetros, así no se estén evaluando

""" Estas funciones lambda son muy útiles para tareas simples de limpieza de datos """

7

In [ ]:
## Ejercicio del vídeo (sobre lambda):
"""Convert this function into a lambda:"""

people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [33]:
# Sobre las listas de comprensión: 
""" Las secuencias son estructuras sobre las que podemos iterar y, a menudo, las creamos
a través de bucles o leyendo datos de un archivo. Python ha incorporado soporte para crear
estas colecciones usando una sintaxis más abreviada llamada listas de comprensión.
Estas listas de comprensión tienden a tener un formato más compacto y es mucho más 
rápido que un ciclo común"""
# Ejm: Queremos iterar números del 1 al 1000 y sacar los números pares a una lista,

lista = []
for numero in range(0,1000):
  if numero % 2 == 0:
    lista.append(numero)
print(lista)

# Ahora hagamos lo mismo pero con una lista de comprensión:

lista = [numero for numero in range(0,1000) if numero%2 == 0] ## mucho más rápido
print(lista) 

""" Al igual que las lambdas, las listas de compresión tiene un formato condensado que 
las hace más legibles y tienen mayor rendimiento """

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [ ]:
## Ejercicio del vídeo (sobre listas de comprensión):

""" Here, why don’t you try converting a function into a list comprehension. """
"""def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst"""

times_tables() == [j*i for i in range(10) for j in range(10)]
times_tables()

In [43]:
## Otro ejm que reune más temas:
""" Escriba una línea de inicialización como una comprensión de lista única que 
crea una lista de todos los ID de usuario posibles. Suponga que las letras son todas minúsculas."""

lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]
answer[:10] ## Miremos los primeros 10 ya que son demasiadas combinaciones

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09']

## Fundamentos de la manipulacion de datos:

### Numerical Python Library (NumPy):