<a href="https://colab.research.google.com/github/Julianh1206/-Introduction-to-Data-Science-in-Python/blob/main/Introduction_to_Data_Science_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Introduction to Data Science in Python (Coursera)**

## Semana 1:

### Python Functions:

In [ ]:
# La idea es que el tercer valor sea opcional, si ese tercer valor (kind) es 'add', entonces realizar la suma. En caso 
# contrario se debera restar el segundo del primero (a-b)

## Base:
"""
def do_math(?, ?, ?):
  if (kind=='add'):
    return a+b
  else:
    return a-b

do_math(1, 2) """

def do_math(a, b, kind = None):
  if (kind=='add'):
    return a+b
  else:
    return a-b

## Pruebas
do_math(1,2)
do_math(1,2, 'add')

# Nota: cuando ponemos ese '= None', lo que realiza es dejar la variable abierta. Es decir, se pueden
# ingresar los dos parámetros y lo va a ejecutar pero si se ingresa el tercero, va a operar con respecto
# a las condiciones que se pusieron en la función.

3

### Python Types and Sequences:

In [ ]:
""" La ausencia de tipificación en Python NO significa que no hay tipos. Está la función type()
para identificar el tipo de variable de interés. En este caso vamos a tratar sobre las tuplas, listas
y diccionarios. 
Las tuplas se crean con () y son inmutables (No se pueden modificar), ejm:
x = (1, 'a', 2, 'rt') -> tupla
Las listas las definimos con [] y éstas sí son mutables e iterables, modificables. Ejm:
x = [1, 'a', 2, 'rt'] -> lista, para rebanar la lista usamos -> x[0:n+1] y la lista devuelve hasta n.
En caso de no ponerle el cero, es decir, de escribir x[:3], Python por defecto saber que es desde 0, 
lo mismo en caso contrario, si se pone x[3:], va desde el x[3] hasta el último elemento de la lista.
Ejm: """

## What would be an appropriate slice to get the name "Christopher" from the string "Dr. Christopher Brooks"?
x = 'Dr. Christopher Brooks'
print(x[4:15])

Christopher

In [ ]:
# Luego, para definir las categorias en una tupla podemos hacerlo de la siguiente manera:
tupla1 = ("Julián Saavedra Echavarría", 22, "Medellín", "jsaavedrae@unal.edu.co")
nombre, edad, ciudad, correo = tupla1
print(nombre) # Prueba

Julián Saavedra Echavarría

In [ ]:
## Otro ejm:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]  # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]  # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

In [ ]:
""" Los diccionarios los definimos con {} y se tratan de colecciones de elementos que NO tienen
orden, quiere decir que por cada valor que insertas en el diccionario se debe indicar cuál es 
la clave de acceso a ese elemento. Para aclarar más ese tema, tenemos un ejm: """

x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']  # Retrieve a value by using the indexing operator

# Lo que nos indica este ejm es que la clave está separada por :, luego al ingresar x['Christopher Brooks']
# (clave), el valor resultante debe ser 'brooksch@umich.edu' (elemento). Siempre vamos a usar :.

'brooksch@umich.edu'

### Python More on Strings:

In [ ]:
""" En este ejemplo vemos que mediante la función .format() podemos editar el diccionario
 inicial 'sales_record' e ingresarlo a un diccionario nuevo 'sales_statement' el cual 
 está siendo modificado e ingresado a nuevos diccionarios con el fin de imprimir 
 {julano} compró {tanto} artículo(s) a un precio de {xxx} cada uno por un total de {xxx}"""

sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

""" Otra cosa de Python con respecto a los str es que se puede hacer operaciones pero 
entre str, no podemos hacer str(Julián) + 2, NO, se debe hacer str(Julián) + str(2)"""

### Python Demonstration: Reading and Writing CSV files:

In [4]:
# Lo primero que hacemos es importar csv para leer nuestro archivo .csv:
import csv

""" Configuramos en 2 la precisión para la impresión del punto flotante, es decir, todo
 con 2 decimales de aproximación."""
%precision 2 


## Vamos a trabajar con la siguiente base de datos:

""" Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

mpg : miles per gallon
class : car classification
cty : city mpg
cyl : # of cylinders
displ : engine displacement in liters
drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
hwy : highway mpg
manufacturer : automobile manufacturer
model : model of car
trans : type of transmission
year : model year"""

with open ('mpg.csv') as csvfile: # ó with open ('/content/mpg.csv') as csvfile:
  mpg = list(csv.DictReader(csvfile)) # vamos a leer la base como una lista de diccionarios

mpg[:3] # Véamos los primeros tres elementos (diccionarios) de nuestra lista.

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [5]:
# Miremos la cantidad de elementos en la lista:
len(mpg)

## Es decir, tenemos 234 diccionarios, cada uno con la información de un vehículo

234

In [6]:
# Para ver las variables que tenemos, lo hacemos con lo siguiente:
mpg[0].keys() 
## Para mpg[i], i puede ser cualquier número desde 0 hasta (n=234)-1, la importancia 
## es ver cuáles son los nombres de las variables

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [7]:
# Para realizar por ejm un promedio en la cantidad de miles de galores en todas las ciudades:
sum(float(d["cty"]) for d in mpg) / len(mpg)

16.86

In [8]:
# Usamose set() para devolver los valores únicos para la cantidad de cilindros que tienen los autos en nuestro conjunto de datos.
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [9]:
"""Aquí hay un ejemplo más complejo en el que estamos agrupando los autos por número 
de cilindros y encontrando el promedio de mpg en la ciudad para cada grupo: """
CtyMpgByCyl = []

for c in cylinders:  # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg:  # iterate over all dictionaries
        if d['cyl'] == c:  # if the cylinder level type matches,
            summpg += float(d['cty'])  # add the cty mpg
            cyltypecount += 1  # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount))  # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0]) ## Ordenando por la cantidad de cilindros
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [10]:
# Ahora hagamos lo mismo pero con la clase de vehículo:
vehicleclass = set(d['class'] for d in mpg)  # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [11]:
HwyMpgByClass = []

for t in vehicleclass:  # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg:  # iterate over all dictionaries
        if d['class'] == t:  # if the cylinder amount type matches,
            summpg += float(d['hwy'])  # add the hwy mpg
            vclasscount += 1  # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount))  # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1]) ## Aquí estamos ordenando por promedio (menor a mayor)
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

### Advanced Python Objects, map():